{% extends "base_admin.html" %}

{% block title %}Listado de Notificaciones{% endblock %}
{% block content %}
<h2>Gestión de Notificaciones</h2>
<a href="{% url 'panel_admin:notification_add' %}">+Agregar nueva notificación</a>
<ul>
    {% if notifications %}
        {% for notification in notifications %}
        <li>{{ notification.title }} - {{ notification.message }} 
            <a href="{% url 'panel_admin:notification_edit' notification.pk %}">Editar</a>
            <a href="{% url 'panel_admin:notification_delete' notification.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    {% else %}
        <li>No hay notificaciones disponibles.</li>
    {% endif %}
</ul>
{% endblock %}