{% extends "base.html" %}

{% block title %}Listado de Lugares{% endblock %}
{% block content %}
<h2>Gestion de Lugares</h2>
<a href="{% url 'panel_admin:venue_add' %}">+Agregar nuevo lugar</a>
<ul>
    {% if venues %}
        {% for venue in venues %}
        <li>{{ venue.name }} - {{ venue.address }} 
            <a href="{% url 'panel_admin:venue_edit' venue.pk %}">Editar</a>
            <a href="{% url 'panel_admin:venue_delete' venue.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    {% else %}
        <li>No hay lugares disponibles.</li>
    {% endif %}
</ul>
{% endblock %}