{% extends "base.html" %}

{% block title %}Categorias{% endblock %}
<!--eventos filtrados-->
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Eventos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for event in eventos_por_categoria%}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date|date:"d b Y, H:i" }}</td>
                    <td>
                        <div class="hstack gap-1">
                            <a href="{% url 'event_detail' event.id %}"
                            class="btn btn-sm btn-outline-primary"
                            aria-label="Ver detalle"
                            title="Ver detalle">
                                <i class="bi bi-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay eventos disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



