{% extends "base.html" %}
{% load static %}

{% block title %}Tickets{% endblock %}


{% block content %}
{% include "app/account/profile_tabs.html" %}
<style>
    body {
        background: url("{% static 'images/foto_home.jpeg' %}") center/cover fixed no-repeat;

    }
    .mi-tabla {
        border-collapse: collapse;
        background-color: rgba(255, 255, 255, 0.842);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
    }
    .mi-tabla th, .mi-tabla td {
        padding: 12px 15px;
        text-align: left;
    }
    .mi-tabla th {
        background: #e7ccbd7e;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #e0e0ff;
        transform: scale(1.02);
        transition: .2s;
    }
    
</style>
<div class="container">
    <table class="mi-tabla">
        <thead>
            <tr>
                <th>Fecha de compra</th>
                <th>Código</th>
                <th>Evento</th>
                <th>Fecha del evento</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Precio por unidad</th>
                <th>Precio total</th>
                <th>Reembolso</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets%}
                <tr>
                    <td>{{ ticket.buy_date}}</td>
                    <td>{{ ticket.ticket_code }}</td>
                    <td>{{ ticket.event.title }}</td>
                    <td>{{ ticket.event.date }}</td>
                    <td>{{ ticket.type_ticket }}</td>
                    <td>{{ticket.quantity}}</td>
                    <td>{{ticket.prize}}</td>
                    <td>{{ticket.total}}</td>
                    <td>
                        {% if ticket.event.date <= now %}
                            {% if ticket.refund_status %}
                                <span>{{ ticket.refund_status }}</span>
                            {% elif ticket.refund_pending %}
                                <span class="texto-en-proceso">Estamos revisando tu solicitud.</span>
                            {% else %}
                                <a href="{% url 'refund_request' ticket.id %}" class="btn btn-primary">Solicitar Reembolso</a>
                            {% endif %}
                        {% else %}
                            <span class="texto-no-disponible">Podés pedir el reembolso despues del evento.</span>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay tickets disponibles</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}