{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-5 fw-bold">Eventos y Entradas</h1>
        <p class="fs-4">Descubre, organiza y participa en los mejores eventos. Compra entradas, deja
            comentarios y califica tus experiencias.</p>
        <div>
    </div>
</div>
    <div class="container mt-4">
    <h4>Categorías:</h4>
    <div class="d-flex flex-wrap gap-3">
        {% for categoria in categories %}
        <a href="{% url 'eventos_por_categoria' categoria.id %}" class="btn btn-outline-primary">
            {{ categoria.name }}
        </a>
        {% empty %}
        <p>No hay categorías disponibles.</p>
        {% endfor %}
    </div>
    </div>

</div>
{% endblock content %}
